@model TeamMatchViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">TEAMS</h2>
    <ul>
        @foreach (var team in Model.teams)
        {
        <li>@team.name From: @team.country, @team.city</li>

        }
    </ul>
    <h2 class="display-4">MATCHES</h2>
    <ul>
        @foreach (var match in Model.matches)
        {
            <li>@match.away_team.name vs @match.home_team.name</li>
            <li>@match.goals_away : @match.goals_home</li>
        }
    </ul>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
